body {
    padding-top: 70px;
}

.main-content {
    min-height: 740px;
}

@media (max-width: 992px) {
    body {
        padding-top: 70px;
    }
}

.student-detail-header {
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 15px;
    border-bottom: 1px #99AA99 solid;
}

.student-header-cell {

}

.student-add-cell {
    min-height: 1.5em;
    color: #989292;
}

.student-detail {
    margin-bottom: 10px;
    padding: 7px;
    border: 2px #DEDEDE solid;
    border-radius: 10px;
    cursor: pointer;
}

.student-detail.active {
    background-color: #EFEFEF;
}

.edit-btn {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .student-form {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .student-edit-controls {
        padding-top: 15px;
    }
}


